# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
*/__pycache__/

.pytest_cache/

# db
backend/app/ozon.db

# excel
docs/ozon定价表.xlsx
docs/ZTO-rFBS物流综合服务报价表v6.3.xlsx

# Node
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build
frontend/dist/
backend/__pycache__/
backend/ozon.db

# VS Code
.vscode/

# 测试文件
backend/tests/mail.py
backend/tests/xx.py
